In [3]:
import PublicDataReader as pdr
from config import OpenAPI

print(pdr.__all__)
print(pdr.__version__)

['__version__', '__info__', 'Transaction', 'Building']
2021.11.

In [4]:
df = pdr.code_list()
df

       시도코드      시도명  시군구코드  시군구명       법정동코드 읍면동명  동리명      생성일자  말소일자
0        11    서울특별시  11000   NaN  1100000000  NaN  NaN  19880423   NaN
1        11    서울특별시  11110   종로구  1111000000  NaN  NaN  19880423   NaN
2        11    서울특별시  11110   종로구  1111010100  청운동  NaN  19880423   NaN
3        11    서울특별시  11110   종로구  1111010200  신교동  NaN  19880423   NaN
4        11    서울특별시  11110   종로구  1111010300  궁정동  NaN  19880423   NaN
...     ...      ...    ...   ...         ...  ...  ...       ...   ...
46299    50  제주특별자치도  50130  서귀포시  5013032022  표선면  하천리  20060701   NaN
46300    50  제주특별자치도  50130  서귀포시  5013032023  표선면  성읍리  20060701   NaN
46301    50  제주특별자치도  50130  서귀포시  5013032024  표선면  가시리  20060701   NaN
46302    50  제주특별자치도  50130  서귀포시  5013032025  표선면  세화리  20060701   NaN
46303    50  제주특별자치도  50130  서귀포시  5013032026  표선면  토산리  20060701   NaN

[46304 rows x 9 columns]

In [ ]:
# 공공 데이터 포털 Open API 서비스키
serviceKey = OpenAPI['molit']
self = pdr.Transaction(serviceKey, debug=True)
self2 = pdr.Building(serviceKey, debug=True)

In [ ]:
self.code

### Features

- 로깅 기능
    - 세션 초기화 시 `debug` 인자 추가
        - False(Default): Error만 출력
        - True: 모두 출력
- OPEN API 에러 코드 별 조치방안 출력 기능 추가
    - 
- Operation 별 조회 항목 수정
    - 매매자료 '해제사유발생일' 항목 추가
- Air Korea Open API 모듈 제거
- 법정동코드 테이블 조회 함수 추가